* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
     background: #0a422a; 
    margin: 0;
}

.page-wrapper {
    max-width: 1200px;  
    margin: 0 auto;         
    padding: 50px 20px;
}

.pricing {
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
    background-color: rgb(255, 255, 255);
    max-width: 1200px;
    margin: 0;
    border-radius: 1%;
}

.pricing h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitle {
    max-width: 700px;
    margin: 0 auto 40px;
    color: #666;
}

.pricing-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    max-width: 1100px;
    margin: auto;
}

.card {
    background: #fff;
    padding: 30px 20px;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    position: relative;
}

.card h3 {
    margin-bottom: 15px;
}

.card h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.card h2 span {
    font-size: 14px;
    color: #777;
}

.card ul {
    list-style: none;
    margin-bottom: 20px;
}

.card ul li {
    margin: 8px 0;
    color: #444;
}

.card a {
    display: inline-block;
    margin-bottom: 15px;
    color: #1abc9c;
    text-decoration: none;
    font-size: 14px;
}

.card button {
    padding: 10px 25px;
    border: 1px solid #ccc;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
}

.card button:hover {
    background: #1abc9c;
    color: #fff;
    border-color: #1abc9c;
}

.featured {
    border: 2px solid #1abc9c;
}

.badge {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    background: #1abc9c;
    color: #fff;
    padding: 4px 12px;
    font-size: 12px;
    border-radius: 12px;
}
